h1 {
  color: #3a54a4;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

h3 {
  color: #3399ff;
  font-style: italic;
  font-family: sans-serif;
}
