h1 {
  text-align: center;
  color: blue;
}

h2 {
  text-align: center;
  color: green;
  font-style: italic;
}

p {
  font-family: sans-serif;
}

ul {
  line-height: 30px;
  font-size: 10px;
  font-family: sans-serif;
}

ol {
  line-height: 40px;
  font-size: 30px;
  font-family: sans-serif;
}
